* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

.alert {
  position: absolute;
  background: #f03e3e;
  width: 100vw;
  height: 3.6rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform .5s;
}
/*class alert card 0*/
.hide-alert {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.card {
  font-size: 1.6rem;
  background-color: #040924;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(42.8rem, 90%);
  height: min(44rem, 90%);
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  color: #0c3440;
  width: min(30rem, 90%);
  margin: 4.8rem 0 3.2rem 0;
}

.container form {
  width: min(30rem, 90%);
  display: flex;
  flex-direction: column;
}

.container form label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.4rem;
  color: #00453a;
  margin-bottom: 0.8rem;
}

.container form input {
  width: 100%;
  height: 5.2rem;
  margin-bottom: 1.6rem;
  background: #dce2e9;
  border: 0.1rem solid #02799d;
  border-radius: 0.4rem;
  padding: 1.6rem;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  color: #212529;
}

.container form input:focus {
  outline: 1.5px solid #0b5a71cc;
}

.container form input::placeholder {
  opacity: 0.5;
}

.container form button {
  margin-top: 3.2rem;
  width: 100%;
  height: 5.2rem;
  background: #02799d;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 700ms;
}

.container form button:hover {
  background: #2e95b5;
}

.container form button:focus {
  outline: 2px solid #164251;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  background: #1e1e1eea;
  display: grid;
  place-content: center;
  visibility: hidden;
  opacity: 0;
}

.modal-card {
  width: 36.3rem;
  height: 15.2rem;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: grid;
  place-content: center;
  position: relative;
}

.modal-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 3.2rem;
  color: #0c3440;
  text-align: center;
}

.modal-text {
  margin-top: 1rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.6rem;
  color: #02799d;
  text-align: center;
}

.close {
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-content: center;
  border: none;
  background-color: white;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
  transition: all 500ms;
}

.close:hover {
  transform: scale(1.2);
}

/* class modal-card card2*/
.modal-hide {
  visibility: visible;
  opacity: 1;
}
